@import 'variables';

.stories-carousel {
    background-color: black;
    height: 38.3vw;
    justify-items: center;
}

#carouselExampleIndicators {
    height: 100%;
}

.carousel-caption h1 {
    font-family: 'Chaparral Pro';
    font-weight: bold;
    font-style: normal;
    font-size: 3.5vw;
    color: white;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 1.5vw;
}

.conocenos {
    margin: 0 37% 0.3vw;
    padding-bottom: 0.3vw;
    border: 0.15vw white solid;
}

.carousel-caption a {
    font-size: 1.5vw;
    color: white;
}

.carousel-inner {
    height: 100%;
}

.carousel-item {
    height: 100%;
}

.card-media img {
    width: 100%;
    height: 38.3vw;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.4;
    filter: alpha(opacity=80);
}

.success-stories .stories-carousel .carousel-indicators {
    position: initial;
    /** ó: position: static; */
}

.carousel-indicators li {
    width: 1.5vw !important;
    height: 0.15vw !important;
}

@media (max-width: 780px) {
    .stories-carousel {
        height: 68.3vw;
    }

    .card-media img {
        height: 68.3vw;
    }

    .carousel-caption h1 {
        font-size: 7.5vw;
    }

    .conocenos {
        margin: 0 20% 0.3vw;
    }

    .carousel-caption a {
        font-size: 3.5vw;
    }

    .carousel-indicators li {
        width: 1.5vw !important;
        height: 0.25vw !important;
    }
}

.menu {
    background-color: $white;
    max-width: unset;
    padding: 2.5% 5%;
    text-align: center;

    .fondo-mariscos {
        padding: 0;
        height: 100%;

        & > img {
            @extend %fondoBG-mariscos;
        }
    }

    .title {
        @extend %base-title;
    }

    .description {
        margin-top: 1.8vw;
        margin-bottom: 2.5vw;
        @extend %base-paragraph;
    }

    .card-img-top {
        height: 15.5vw;
    }

    .card-title {
        font-size: 25px;
        color: $blue-logo;
        font-weight: bold;
    }

    .card-text {
        color: $gray;
        font-size: 16px;
    }

    .acceso-menu {
        margin: 0 40% 1.6vw;
        padding: 1vw 0;
        @extend %base-titulos-textos;
        border: 0.05vw $gray solid;
        font-weight: 400;

        & > a {
            color: $gray;
        }
    }
}

@media (max-width: 600px) {
    .title {
        font-size: 26px !important;
        margin-top: 40px !important;
    }
    .description {
        font-size: 18px !important;
        margin-bottom: 40px !important;
    }

    .card-img-top {
        height: 52.5vw !important;
    }

    .acceso-menu {
        margin: 20px 20% 1.6vw !important;
        border: 0.03vw $gray solid !important;
    }
}
