@import "variables";
@import url("https://fonts.googleapis.com/css?family=Alegreya:900|Open+Sans|Slabo+27px&display=swap");


body {
  text-align: center;
  overflow-x: hidden;
}





.redes_sociales {
 /* colocar z index */
  @extend %fondo-redes-sociales;


  .linkFace{
    margin-right: 7vw;
  }
    .icono_face {
      height: 105%;
    }
  
  
  .linksInstaTwitter{
    margin-right: 2vw;
  }

    .icono_twitter {
      height: 70%;
    }

    .icono_insta {
      height: 70%;
    }

}

@media (max-width: 780px) {
  .redes_sociales {
    background-color: #040006;
    height: 40px;
    text-align: center;

    .linkFace{
        margin: 0;
      }
    .linksInstaTwitter{
        margin-right: 5vw;
    }
  }
}








.navbar {
  @extend %margenes-navbar;

  .navbar-brand img {
    width: 7.5vw;
  }

  .nav-link {
    @extend %estilos-color-linksMenu;
  }

  .actions button {
    @extend %estilos-color-botonEnMenu;
  }  


  @media (max-width: 780px) {

    text-align: center !important;
    .navbar-brand img {
      width: 20vw;
    }
    .nav-link {
      margin-right: -15px;
    }
    .actions button {
      padding: 0.1vw 1vw;
      font-size: calc(.7em + 1.2vw);
      line-height: 4.8vw;
      font-size: calc(1em + 1vw);
    }
  
    .actions {
      margin-right: 50px;
    }
  }
}

