@import "variables";



.acceso-contacto{
   /* .fondo-mariscos{
       padding: 0;
      height: 100%;

       & > .card-img-top{
           @extend %fondoBG-mariscos;
           border: 1px white solid;
           max-width: 1600px !important;
           width: 100% !important;
           max-height: 600px !important;
           height: 40% !important;
           margin-top: 0.1vw;
           opacity: 0.065 !important;

           @media (max-width: 765px) {
            height: 70% !important;
           }
         }


   } */
  background-color: gainsboro;
  background-image: url('../images/FONDO\ COLOR-01-min.png');
  background-size: 700px 600px;
  background-blend-mode: overlay;
  background-position: center;
  
      
      .col-sm-8{
        
        text-align: center;
        max-width: 100%;
        .title {
          @extend %base-title;
          margin-top: 30px;
        }
  
        .process-list {
          margin-top: 10px;
  
               
        .process-description{
        text-align: center;
          color: $gray;
          margin: 0;
          font-weight: 600;
        }
      }
    }
  
    .img-fluid{
      max-width: 40%;
    }
  
    
  
    .textwidget{
      & > h1{
        @extend %color-combinado;
      }
  
      & > p {
        font-weight: 400 !important;
        margin: 30px 0 20px;
      }
    }
  
    .form-control{
      width: 50% !important;
    }
  
    .btn-primary{
      background-color: $red-logo !important;
      border-color: $red-logo;
    }
  
    .inferior{
      background-color: transparent !important;
      text-align: center !important;
      margin-right: 0 !important ;
    }
  }     
  
  
  
  
  @media (max-width: 600px) {
     
   
    .textwidget{
      & > h1{
        margin-top: 40px;
      }
  
      & > p {
        margin-top: 10px !important;
      }
    }
  
    .form-control{
      width: 50% !important;
    }
  
  
  }
  
  
  