/** colores */
$blue-logo: #1876AF;
$dark-green-title: #025157;
$dark-green-text: #135359;
$white: #ffffff;
$gray: #4a4a4a;
$light-gray: #979797;
$light-green: #67b54b;
$red-logo: #C2322A;
$black-logo: #040006;

/** Alturas **/

$height-background-socials: calc(1.5em + 1.5vw);

/** fuentes */
$font-title: "Chaparral Pro", serif;

/** placeholders */
%base-title {
    font-family: $font-title;
    color: $red-logo;
    font-size: calc(1.6em + 2vw);
    font-weight: bold;
    
}
%base-titulosMenu {
    font-family: $font-title;
    color: $blue-logo;
    font-size: calc(1em + 1vw);
    font-weight: bold;
    
}
%base-paragraph {
    font-family: $font-title;
    color: $gray;
    font-size: calc(0.7em + 1.0vw);
}
%base-titulos-textos {
    font-size: 25px;
    font-weight: bold;
}
%fondoBG-mariscos{
    
            opacity: 0.045;
            position: absolute;
            margin-top: -50px;
            left: 0;
            z-index: 0;
}
%color-combinado{
  -webkit-text-fill-color: #E7B830;
   -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: black;
}

%fondo-redes-sociales{
    background-color: $black-logo;
  height: calc(1.5em + 1.5vw);
  text-align: right;
}



%margenes-navbar{
    margin-left: 7%;
    margin-right: 11%;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

%estilos-color-linksMenu{
    margin-right: 2vw;
  font-family: "Alegreya", serif;
  font-size: calc(1.5em + 1.5vw);
  font-weight: 600;
  -webkit-text-fill-color: #1876af;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
}

%estilos-color-botonEnMenu{
    font-family: "Alegreya", serif;
  font-size: calc(.7em + .7vw);
  font-weight: 600;
  -webkit-text-fill-color: black;
  -webkit-text-stroke-width: 0.4px;
  -webkit-text-stroke-color: black;
  line-height: 1.4vw;
  background-color: transparent;
  padding: 0.3vw 0.9vw;
  border: 0;
  border-radius: 50px 50px 50px 50px;
  margin-right: -70px;
  border: 0.15vw black solid;
  box-shadow: 1px 1px 10px #c0322a;
}